<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- <script src="logic.js"></script> -->
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <script type="text/javascript" src="/assets/logic.js"></script>
    <html lang="en-us">
    <title>John Ochs</title>
</head>

<body>
    <div id="modal1" class="modal">
        <div class="modal-content grey-text">
            <h4>contact</h4>
        </div>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6 offset-s1">
                    <input id="email" type="email" class="validate">
                    <label for="email">email</label>
                    <span class="helper-text" data-error="email invalid" data-success="valid">email@me.yes</span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">message</label>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-orange btn-flat">Send it</a>
        </div>
    </div>
    <div class="boxinternal z-depth-3">
        <div class="scene">
            <div class="box center-align">
                <div class="front face center-align" id="org">
                    <img class="plane" src="assets/img/info.png" />
                    <i class="fas fa-home"></i>
                </div>
                <a href="/">
                    <div class="right face" href="/">
                        <p>about</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="scene">
            <a href="mailto:john.w.ochs0@gmail.com">
                <div class="box center-align">
                    <div class="front face center-align" id="org">
                        <img class="plane" src="assets/img/plane.png" />
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="right face center-align">
                        <p>contact</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="scene">
            <div class="box">
                <div class="front face center-align" id="org">
                    <img class="plane" src="assets/img/banjo.png" />
                    <i class="fas fa-home"></i>
                </div>
                <a href="/music">
                    <div class="right face center-align">
                        <p>music</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="scene">
            <div class="box">
                <div class="front face center-align" id="org">
                    <img class="plane" src="assets/img/port.png" />
                    <i class="fas fa-home"></i>
                </div>
                <a href="/portfolio">
                    <div class="right face center-align">
                        <p>portfolio</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="scene">
            <div class="box">
                <div class="front face center-align" id="org">
                    <img class="plane" src="assets/img/iu.png" />
                    <i class="fas fa-home"></i>
                </div>
                <a href="https://github.com/BeardedBeauty">
                    <div class="right face center-align">
                        <p>Github</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="scene">
            <div class="box">
                <div class="front face center-align" id="org">
                    <img class="plane" src="assets/img/li.png" />
                    <i class="fas fa-home"></i>
                </div>
                <a href="https://www.linkedin.com/in/john-ochs-b67b32160/">
                    <div class="right face center-align">
                        <p>LinkedIn</p>
                    </div>
                </a>
            </div>
        </div>

        {{!-- <div class="scene">
            <div class="box">
                <div class="front face center-align" id="org">
                    <img class="plane" src="assets/img/train.png" />
                    <i class="fas fa-home"></i>
                </div>
                <a href="/travelogue">
                    <div class="right face center-align">
                        <p>travel</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="scene">
            <div class="box">
                <div class="front face center-align" id="org">
                    <img class="plane" src="assets/img/box.png" />
                    <i class="fas fa-home"></i>
                </div>
                <div class="right face center-align">
                    <p>other</p>
                </div>
            </div>
        </div> --}}
        <div class="fill"></div>
    </div>
    <!-- <img class="blur" src="assets/img/nepal.JPG" /> -->
    {{{body}}}
    <footer class="page-footer grey">
        <div class="container">
            <br>
            <div class="row center-align">
                <div class="col s12">
                    <a class="get" href="mailto:john.w.ochs0@gmail.com">john.w.ochs0@gmail.com</a>
                    <a class="get" href="https://www.linkedin.com/in/john-ochs-b67b32160/">LinkedIn</a>
                    <a class="get" href="https://github.com/BeardedBeauty">Github</a>
                    <br>
                </div>
                <p>Eden Prairie, MN 55347 | 952-215-7440</p>
            </div>
            <div class="row center-align">
                <p>Built using MaterializeCSS, Express and Handlebars</p>
            </div>
            <br>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row center-align">
                    <div class="col s12">
                        © john ochs 2019
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

<!--         <div class="boxcontainer">
            <div class="row"></div>
            <div class="row">
                <div class="margin">
                    <div class="scene">
                        <div class="box center-align">
                            <div class="front face center-align">
                                <img class="plane" src="assets/img/info.png" />
                                <i class="fas fa-home"></i>
                            </div>
                            <div class="right face">
                                <p>about</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="margin">
                    <div class="scene">
                        <div class="box">
                            <div class="front face center-align">
                                <img class="plane" src="assets/img/plane.png" />
                                <i class="fas fa-home"></i>
                            </div>
                            <div class="right face center-align">
                                <p>contact</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin">
                    <div class="scene">
                        <div class="box">
                            <div class="front face center-align">
                                <img src="assets/img/banjo.png" />
                                <i class="fas fa-home"></i>
                            </div>
                            <div class="right face center-align">
                                <p>music</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="margin">
                    <div class="scene">
                        <div class="box">
                            <div class="front face center-align">
                                <img class="plane" src="assets/img/port.png" />
                                <i class="fas fa-home"></i>
                            </div>
                            <div class="right face center-align">
                                <p>portfolio</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin">
                    <div class="scene">
                        <div class="box">
                            <div class="front face center-align">
                                <img class="plane" src="assets/img/train.png" />
                                <i class="fas fa-home"></i>
                            </div>
                            <div class="right face center-align">
                                <p>travelogue</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin">
                    <div class="scene">
                        <div class="box">
                            <div class="front face center-align">
                                <img class="plane" src="assets/img/box.png" />
                                <i class="fas fa-home"></i>
                            </div>
                            <div class="right face center-align">
                                <p>other</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->