* {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

body {
    line-height: 2.3;
}

.boxinternal {
    margin-top: -108px;
    height: 108px;
    width: 100%;
    position: fixed;
    z-index: 9;
    border-top: 8px solid grey;
    transition: .2s;
}

.scene {
    width: 100px;
    height: 100px;
    /* margin-left: px; */
    z-index: 10;
    float: left;
    transition: .2s;
}

.box {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.2s ease-out;
    transform-origin: 0;
}

.scene:hover .box {
    transform: rotateY(-90deg);
    cursor: pointer;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    /* text-align: center; */
}

.front {
    transform: rotateY(0deg);
    padding-top: 25px;
    transition: .2s;
}

.right {
    transform: rotateY(90deg);
    left: 100%;
    background-color: grey;
    color: rgb(204, 204, 204);
    padding-top: 30px;
    transition: .2s;
}

.plane {
    width: 50px;
    height: auto;
    transition: .2s;
}

.fill {
    height: 100px;
    width: 100%;
    background-color: orange;
    transition: .2s;
}

/* .animate {
    width: 25px;
    height: auto;
} */

/* .background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -5;
    display: block;
    background-image: url("./assets/img/nepal.JPG");
    width: 1200px;
    height: 800px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  } */

.skew {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(30deg);
    -ms-transform: skew(30deg);
    transform: skew(30deg);
}

.blocc {
    margin-top: 150px;
    margin-left: -250px;
    color: whitesmoke;
    opacity: 0;
    position: absolute;
    background-color: black;
    height: 100px;
    width: 500px;
    z-index: 5;
    line-height: 2.5;
    /* border-bottom: 1px solid rgb(193, 196, 53); */
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    transform: skew(-30deg);
}
.blocc2 {
    padding: 25px;
    margin-top: 10px;
    color: whitesmoke;
    opacity: 0;
    position: absolute;
    background-color: black;
    width: 100%;
    z-index: 5;
    line-height: 2.5;
}
.blocc3 {
    padding: 25px;
    margin-top: 10px;
    color: whitesmoke;
    opacity: 0;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 110%;
    z-index: 1;
    line-height: 2.5;
}

.blur {
    /* background: url("../img/nepal.JPG") no-repeat center; */
    opacity: .9;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
    background-color: black;
}

.p1 {
    margin-top: 108px;
}

.homebg {
    width: 1500px;
    height: auto;
    z-index: 1;
    /* margin-right: -200px; */
}

/* .margin {
    margin-left: 20px;
    float: left;
} */

.whatthe {
    margin-left: 520px;
    margin-top: -250px;
    position: absolute;
    width: 700px;
    z-index: 1;
    background-color: none;
}

.boxcontainer {
    width: 500px;
    height: 380px;
    z-index: 1;
    float: none;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(30deg);
    -ms-transform: skew(30deg);
    transform: skew(30deg);
}

.greysomething {
    height: 8px;
    width: 100%;
    z-index: 1;
    background-color: grey;
}

.intro {
    height: 300px;
    z-index: -1;
}

.introcontainer {
    margin-top: -8px;
    padding-left: 20px;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    transform: skew(-30deg);
    background-color: white;
    border-left: 9px solid grey;
    border-top: 8px solid grey;
    height: 391px;
    width: 250px;
    z-index: 1;
    float: left;
}

.backcontainer {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(30deg);
    -ms-transform: skew(30deg);
    transform: skew(30deg);
    width: 500px;
    margin-right: -200px;
}

.cardimg {
    width: 300px;
    height: auto;
}

.cardimgme {
    width: 500px;
    height: auto;
    z-index: 6;
    float: left;
    border-bottom: 8px solid grey;
}

.skillimg {
    width: 150px;
    height: auto;
    margin: 40px;
}

.separator {
    width: 100%;
    height: 100px;
    background: #B5B5B5;
    background: -webkit-radial-gradient(top, #B5B5B5, #FFFFFF);
    background: -moz-radial-gradient(top, #B5B5B5, #FFFFFF);
    background: radial-gradient(to bottom, #B5B5B5, #FFFFFF);
}

.op9 {
    opacity: .9;
}
.op8 {
    opacity: .8;
}
.op7 {
    opacity: .7;
}
.op0 {
    opacity: 0;
}

input:focus {
    border-bottom: 1px solid orange !important;
    box-shadow: 0 1px 0 0 orange !important;
}

textarea:focus {
    border-bottom: 1px solid orange !important;
    box-shadow: 0 1px 0 0 orange !important;
}

label.active {
    color: orange !important;
}

#ylw {
    background-color: #ffee00;
}

#org {
    background-color: orange;
}

.juice {
    width: 100%;
    background-color: orange;
    height: 700px;
}

.push {
    height: 100px;
}

.get {
    color: #3f3f3f;
    margin: 20px;
}

@media screen and (max-width: 1300px) and (min-width: 1201px) {
    .whatthe {
        margin-left: 520px;
        margin-top: -250px;
        position: absolute;
        width: 600px;
    }

    .push {
        height: 150px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1101px) {
    .whatthe {
        margin-left: 520px;
        margin-top: -250px;
        position: absolute;
        width: 500px;
    }
    .push {
        height: 200px;
    }
}

@media screen and (max-width: 1100px) and (min-width: 1001px) {
    .whatthe {
        margin-left: 420px;
        margin-top: -120px;
        position: absolute;
        width: 600px;
    }
    .push {
        height: 300px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
    .whatthe {
        width: 700px;
        margin-top: 100px;
        margin-left: 80px;
        margin-bottom: 0;

    }
    .push {
        height: 400px;
    }
}

@media screen and (max-width: 801px) and (min-width: 600px) {
    .whatthe {
        width: 500px;
        margin-top: 100px;
        margin-left: 80px;
        margin-bottom: 0;
    }
    .push {
        height: 600px;
    }
}

@media screen and (max-width: 600px){
    .boxinternal {
        height: 100vh;
        width: 65px;
        position: fixed;
        z-index: 9;
        border-top: 0;
    }
    .whatthe {
        width: 380px;
        margin-top: 100px;
        margin-left: 70px;
        margin-bottom: 0;
    }
/* 
    .scene {
        width: 75px;
        height: 75px;
        z-index: 10;
        float: unset;
    } */
    
    .box {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.2s ease-out;
        transform-origin: 0;
    }
    
    .scene:hover .box {
        transform: rotateY(-90deg);
        cursor: pointer;
    }
    
    .face {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-origin: 0 0;
        /* text-align: center; */
    }
    
    .front {
        transform: rotateY(0deg);
        background-color: orange;
        padding-top: 15px;
    }
    
    .right {
        transform: rotateY(90deg);
        left: 100%;
        background-color: gray;
        color: lightgrey;
        padding-top: 20px;
    }

    .fill {
        height: 100vh;
        width: 65px;
        background-color: orange;
    }

    /* .plane {
        transform: scale(.75);
    } */

    .blocc {
        padding-left: 100px;
    }

    .introcontainer {
        width: 0;
        opacity: 0;
    }

    .push {
        height: 700px;
    }
}