<div class="parallax-container p1 center-align">
    <div class="row">
        <span class="center-align blocc z-depth-3 fadeonload pad">
            <h3 class="skew">John W Ochs</h3>
        </span>
    </div>
    <div class="parallax">
        <img class="homebg" src="assets/img/nepal3.jpg" />
    </div>
</div>

<div class="greysomething"></div>

<div class="intro">
    <img src="assets/img/tree.JPG" class="cardimgme">
    <div class="introcontainer">
    </div>
</div>

<div class="whatthe">
    <h5>Welcome</h5>
    <p>
        I am a graduate from the University of Minnesota with a Coding Bootcamp certificate. I have a passion for
        learning things that comes with a bit of perfectionism, accompanied by great attention to detail. I am task
        oriented, able to analyze situations and come to a solution based on the tools accessible to me. I have strong
        spatial reasoning, good communication, and I love working either alone or in groups. Coming from a background in
        automation with an AAS degree in Robotics Engineering. Traveling and playing folk music are passions of mine,
        playing various gigs around the Twin Cities area.
    </p>
    <br>
    <p>
        Please take a look in portfolio to see the projects completed at the University of Minnesota.
    </p>
    <br />
    <div class="center">
        <a href="assets/resumeDev3.pdf" class="modal-close waves-effect grey waves-yellow btn">Download Resume PDF</a>
    </div>
</div>
<br /><br />
<br /><br />
<div class="push"></div>
<div class="container">
    <div class="row center">
        {{!-- <div class="separator">
            Skill
        </div> --}}
        <h3>Skills</h3>
    </div>
    <div class="row center">
        <img src="assets/img/mongo.png" class="skillimg" />
        <img src="assets/img/express.png" class="skillimg" />
        <img src="assets/img/react.png" class="skillimg" />
        <img src="assets/img/node.png" class="skillimg" />
    </div>
    <div class="row center">
        <img src="assets/img/mongoose.png" class="skillimg" />
        <img src="assets/img/js.png" class="skillimg" />
        <img src="assets/img/java.png" class="skillimg" />
        <img src="assets/img/c++.png" class="skillimg" />
    </div>
    <div class="row center">
        <img src="assets/img/sql.png" class="skillimg" />
        {{!-- <img src="assets/img/html.png" class="skillimg" /> --}}
        <img src="assets/img/jq.jpeg" class="skillimg" />
        {{!-- <img src="assets/img/css.png" class="skillimg" /> --}}
    </div>
</div>
{{!-- <div class="parallax-container z-depth-2">
    <div class="blocc3 fadeonfull">
        <div class="row">
            <div class="col s10 m12 offset-s2">
                <h2 class="header center white-text">portfolio: taskmaster 3000</h2>
                <br>
            </div>
            <div class="row center">
                <div class="col s10 m12 offset-s2">
                    <h5 class="header white-text">TM3K is a job organizer for companies that want to
                        streamline the work load. The second project from the U of M bootcamp.</h5>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="row center">
        <div class="col s10 m12 offset-s2">
            <a href="https://boards-of-canada.herokuapp.com/" id="download-button"
                class="btn-large waves-effect waves-light orange">TM3K</a>
        </div>
    </div>
    <div class="parallax">
        <img class="homebg" src="assets/img/tm3k.png" />
    </div>
</div> --}}
{{!-- <div class="parallax-container">
    <div class="blocc2 fadeonfull">
        <div class="row">
            <div class="col s10 m12 offset-s2">
                <h2 class="header center white-text">travelogue: New Zealand</h2>
                <br>
            </div>
            <div class="row center">
                <div class="col s10 m12 offset-s2">
                    <h5 class="header white-text">Take a look at the most recent travel experiences from NZ</h5>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="row center">
        <div class="col s10 m12 offset-s2">
            <a href="/travelogue" id="download-button" class="btn-large waves-effect waves-light orange">GO</a>
        </div>
    </div>
    <div class="parallax">
        <img class="homebg" src="assets/img/nz.JPG" />
    </div>
</div> --}}
<br><br>