<div class="parallax-container p1">
    <div class="row">
        <span class="center-align blocc z-depth-2 fadeonload pad">
            <h3>John W Ochs</h3>
        </span>
    </div>
    <div class="parallax">
        <img class="homebg" src="assets/img/nepal3.jpg" />
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col s10 m12 l12 offset-s2">
            <h5>Welcome</h5>
            {{!-- <p>
                I am a Minnesota based web developer who loves to travel and plays folk and americana music for business
                or pleasure. I am currently undergoing a 6-month boot camp at the University of Minnesota for coding. In portfolio you can find completed
                projects, some of which were done in a group. In music you will find current and past music projects, in travelogue is
                my traveling documentation.
            </p> --}}
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col s10 m6 l5 offset-s2">
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/bandaid.png">
                    <span class="card-title">portfolio: band-aid</span>
                </div>
                <div class="card-content">
                    <p>First project completed in a group from the University of Minnesota bootcamp is a music
                        player with
                        the ability to suggest new music based on what you're listening to.
                    </p>
                </div>
                <div class="card-action">
                    <a href="https://ryanholt22.github.io/Band-Aid/">Band-Aid</a>
                </div>
            </div>
        </div>
        <div class="col s10 m6 l7 offset-s2">
            {{!-- <div class="card">
                <div class="card-image">
                    <img src="assets/img/dav.jpg">
                    <span class="card-title">story: the second time I met Dave Simonett</span>
                </div>
                <div class="card-content">
                    <p>Trampled by Turtles front man Dave Simonett ran into me at a public pool - and I was definitely
                        weird about it.</p>
                </div>
                <div class="card-action">
                    <a href="#">Simonett story</a>
                </div>
            </div> --}}
            <p>
                I am a Minnesota based web developer who loves to travel and plays folk and americana music for business
                or pleasure. I am currently undergoing a 6-month boot camp at the University of Minnesota for coding. In
                portfolio you can find completed
                projects, some of which were done in a group. In music you will find current and past music projects, in
                travelogue is
                my traveling documentation.
            </p>
        </div>
    </div>
    <div class="row"></div>
</div>
<div class="parallax-container z-depth-2">
    <div class="blocc3 fadeonfull">
        <div class="row">
            <div class="col s10 m12 offset-s2">
                <h2 class="header center white-text">portfolio: taskmaster 3000</h2>
                <br>
            </div>
            <div class="row center">
                <div class="col s10 m12 offset-s2">
                    <h5 class="header white-text">TM3K is a job organizer for companies that want to
                        streamline the work load. The second project from the U of M bootcamp.</h5>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="row center">
        <div class="col s10 m12 offset-s2">
            <a href="https://boards-of-canada.herokuapp.com/" id="download-button"
                class="btn-large waves-effect waves-light orange">TM3K</a>
        </div>
    </div>
    <div class="parallax">
        <img class="homebg" src="assets/img/tm3k.png" />
    </div>
</div>
{{!-- <div class="parallax-container">
    <div class="blocc2 fadeonfull">
        <div class="row">
            <div class="col s10 m12 offset-s2">
                <h2 class="header center white-text">travelogue: New Zealand</h2>
                <br>
            </div>
            <div class="row center">
                <div class="col s10 m12 offset-s2">
                    <h5 class="header white-text">Take a look at the most recent travel experiences from NZ</h5>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="row center">
        <div class="col s10 m12 offset-s2">
            <a href="/travelogue" id="download-button" class="btn-large waves-effect waves-light orange">GO</a>
        </div>
    </div>
    <div class="parallax">
        <img class="homebg" src="assets/img/nz.JPG" />
    </div>
</div> --}}
<br><br>
<div class="container">
    <div class="row">
        <div class="col s10 m12 l12 offset-s2">
            <p>
            </p>
        </div>
    </div>
</div>