<div class="parallax-container p1">
    <div class="row">
        <span class="center-align blocc z-depth-2 fadeonload">
            <h3>music</h3>
        </span>
    </div>
    <div class="parallax">
        <img class="homebg" src="assets/img/me.jpg" />
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col s10 m6 l5 offset-s2">
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/Crossfrontpage.png">
                    {{!-- <span class="card-title">Church of the Cross</span> --}}
                </div>
                <div class="card-content">
                    <p>Banjo player in the Church of the Cross worship group, occasionally singing lead.
                    </p>
                </div>
                <div class="card-action">
                    <a href="https://www.ofthecross.org">Cross.org</a>
                </div>
            </div>
        </div>
        <p class="col s10 offset-s2 m6 offset-l1 l6">
            If you need a local artist if fill a position in a wedding or substitute or other event, banjo services are offered wherever
            the need. A full band can be provided with a selection of songs as well.
            
        </p>
    </div>
</div>