<div class="parallax-container p1 center-align">
    <div class="row">
        <span class="blocc z-depth-2 fadeonload pad">
            <h3 class="skew">portfolio</h3>
        </span>
    </div>
    <div class="parallax">
        <img class="homebg" src="assets/img/4.png" />
    </div>
</div>
<nav>
    <div class="nav-wrapper yellow">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>
<br><br>
<div class="container">
    <div class="row">
        <div class="col s10 m12 l12 offset-s2">
            <h5>U of M boocamp projects</h5>
            <p>These were projects completed at the University of Minnesota coding bootcamp. Feel free to visit the live
                site or the source code of each app.
            </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col offset-s2 s10 m8 l6">
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/bookke.png" class="img">
                    <span class="card-title">ßøôkké</span>
                </div>
                <div class="card-content">
                    <p>A book finder that will search Google Books API, then save a selected book via Mongoose. Built on
                        a full MERN (MongoDB, Express, React, Node) stack.</p>
                </div>
                <div class="card-action">
                    <a href="http://bookkebooks.herokuapp.com">live</a>
                    <a href="https://github.com/BeardedBeauty/bookke">github</a>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/cheesebread.png" class="img">
                    <span class="card-title">Shuffle Clicc</span>
                </div>
                <div class="card-content">
                    <p>This game was created for better undestanding of React. Clicking on each image will randomize
                        them and add to your score, clicking on the same image more than once will set your score to 0.
                    </p>
                </div>
                <div class="card-action">
                    <a href="https://cheese-click.herokuapp.com">live</a>
                    <a href="https://github.com/BeardedBeauty/clickable">github</a>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/liri.png" class="img">
                    <span class="card-title">LIRI</span>
                </div>
                <div class="card-content">
                    <p>LIRI is a basic text assistant kind of like Siri, but there are only four different kinds of
                        commands, and it's on a commandline run by javascript and node.</p>
                </div>
                <div class="card-action">
                    <a href="https://github.com/BeardedBeauty/bot">github</a>
                    <a class="modal-trigger" href="#modal2">video demo</a>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/ff.png" class="img">
                    <span class="card-title">friend finder</span>
                </div>
                <div class="card-content">
                    <p>Friend Finder is like a dating app, but matches you with friends instead. Takes advantage of
                        server routing API's and HTML using express.</p>
                </div>
                <div class="card-action">
                    <a href="https://frndfndrii.herokuapp.com">live</a>
                    <a href="https://github.com/BeardedBeauty/friendfinder-II">github</a>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/ba.png">
                    <span class="card-title">band-aid</span>
                </div>
                <div class="card-content">
                    <p>A music player with ability to suggest new music based on what you're listening to.
                        The first project to come from my team at the U of M, built with materialize, and sourcing two
                        API's.
                    </p>
                </div>
                <div class="card-action">
                    <a href="https://ryanholt22.github.io/Band-Aid/">live</a>
                    <a href="https://github.com/ryanholt22/Band-Aid">github</a>
                </div>
            </div>
        </div>
        <div class="col offset-s2 s10 m8 l6">
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/tm3k.png">
                    <span class="card-title">taskmaster 3000</span>
                </div>
                <div class="card-content">
                    <p>TM3K is a job organizer for companies that want to
                        streamline the work load. Second group project completed form the U of M.
                    </p>
                </div>
                <div class="card-action">
                    <a href="https://taskmaster3000.herokuapp.com">live</a>
                    <a href="https://github.com/BeardedBeauty/Boards-of-Canada">github</a>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/facepalm.png">
                    <span class="card-title">FacePalm</span>
                </div>
                <div class="card-content">
                    <p>FacePalm is a social media platform designed for coders. Based on the full MERN stack, you can
                        add projects, posts, and login to your profile via google.
                    </p>
                </div>
                <div class="card-action">
                    <a href="https://face--palm.herokuapp.com">live</a>
                    <a href="https://github.com/BeardedBeauty/SyntactictSugar">github</a>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/connoct.png" class="img">
                    <span class="card-title">bamazon</span>
                </div>
                <div class="card-content">
                    <p>Using the command line and SQL Server, you can purchase goods from "bamazon". Uses SQL database,
                        node,
                        and irquirer to run user prompts</p>
                </div>
                <div class="card-action">
                    <a href="https://github.com/BeardedBeauty/bamazon">github</a>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/traintriv.png" class="img">
                    <span class="card-title">Railroad Trivia Game</span>
                </div>
                <div class="card-content">
                    <p>A trivia game that quizes you on random railroading facts. A countdown is initiated with each
                        question, and if no answer is given, a new question will appear.
                    </p>
                </div>
                <div class="card-action">
                    <a href="https://beardedbeauty.github.io/TriviaGame/">live</a>
                    <a href="https://github.com/BeardedBeauty/TriviaGame">github</a>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/trainy.png" class="img">
                    <span class="card-title">train scheduler</span>
                </div>
                <div class="card-content">
                    <p>Using separate libraries to show the arrival times and frequency of trains, with data stored on
                        firebase.</p>
                </div>
                <div class="card-action">
                    <a href="https://beardedbeauty.github.io/trains/">live</a>
                    <a href="https://github.com/BeardedBeauty/trains">github</a>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/oldme.png" class="img">
                    <span class="card-title">original portfolio</span>
                </div>
                <div class="card-content">
                    <p>My original portfolio done with basic css. First created upon learning HTML.</p>
                </div>
                <div class="card-action">
                    <a href="https://beardedbeauty.github.io/index.html">live</a>
                    <a href="https://github.com/BeardedBeauty/BeardedBeauty.github.io">github</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal2" class="modal">
    <div class="modal-content grey-text center">
        <h4>Liri Demo</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pLO0eeoJvSM" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br />
        <a href="#!" class="modal-close waves-effect waves-yellow btn-flat">close</a>
    </div>
</div>