<div class="parallax-container p1">
    <div class="row">
        <span class="center-align blocc z-depth-2 fadeonload pad">
            <h3>portfolio</h3>
        </span>
    </div>
    <div class="parallax">
        <img class="homebg" src="assets/img/4.png" />
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col s10 m12 l12 offset-s2">
            <h5>U of M boocamp projects</h5>
            <p>These were projects completed at the University of Minnesota coding bootcamp. Browse to see all that were
                done.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col offset-s2 s10 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/liri.png" class="img">
                    <span class="card-title">LIRI</span>
                </div>
                <div class="card-content">
                    <p>LIRI is a basic text assistant kind of like Siri, but there are only four different kinds of
                        commands, and it's on a commandline run by javascript and node.</p>
                </div>
                <div class="card-action">
                    <a href="https://github.com/BeardedBeauty/bot">LIRI</a>
                </div>
            </div>
        </div>
        <div class="col offset-s2 s10 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/ff.png" class="img">
                    <span class="card-title">friend finder</span>
                </div>
                <div class="card-content">
                    <p>Friend Finder is like a dating app, but matches you with friends instead. Takes advantage of
                        server routing API's and HTML using express.</p>
                </div>
                <div class="card-action">
                    <a href="https://frndfndrii.herokuapp.com">Friend Finder</a>
                </div>
            </div>
        </div>
        <div class="col offset-s2 s10 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/ba.png">
                    <span class="card-title">band-aid</span>
                </div>
                <div class="card-content">
                    <p>A music player with ability to suggest new music based on what you're listening to.
                        The first project to come from my team at the U of M, built with materialize, and sourcing two
                        API's.
                    </p>
                </div>
                <div class="card-action">
                    <a href="https://ryanholt22.github.io/Band-Aid/">Band-Aid</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="parallax-container z-depth-2">
    <div class="blocc3 fadeonfull">
        <div class="row">
            <div class="col s10 m12 offset-s2">
                <h2 class="header center white-text">taskmaster 3000</h2>
                <br>
            </div>
            <div class="row center">
                <div class="col s10 m12 offset-s2">
                    <h5 class="header white-text">TM3K is a job organizer for companies that want to
                        streamline the work load</h5>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="row center">
        <div class="col s10 m12 offset-s2">
            <a href="https://boards-of-canada.herokuapp.com/" id="download-button"
                class="btn-large waves-effect waves-light orange">TM3K</a>
        </div>
    </div>
    <div class="parallax">
        <img class="homebg" src="assets/img/tm3k.png" />
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col offset-s2 s10 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/connoct.png" class="img">
                    <span class="card-title">bamazon</span>
                </div>
                <div class="card-content">
                    <p>Using the command line and SQL Server, you can purchase goods from "bamazon". Uses SQL database,
                        node,
                        and irquirer to run user prompts</p>
                </div>
                <div class="card-action">
                    <a href="https://github.com/BeardedBeauty/bamazon">bamazon</a>
                </div>
            </div>
        </div>
        <div class="col offset-s2 s10 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/trainy.png" class="img">
                    <span class="card-title">train scheduler</span>
                </div>
                <div class="card-content">
                    <p>Using separate libraries to show the arrival times and frequency of trains</p>
                </div>
                <div class="card-action">
                    <a href="https://beardedbeauty.github.io/trains/">trains</a>
                </div>
            </div>
        </div>
        <div class="col offset-s2 s10 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/oldme.png" class="img">
                    <span class="card-title">original portfolio</span>
                </div>
                <div class="card-content">
                    <p>My original portfolio done with basic css. First created upon learning HTML.</p>
                </div>
                <div class="card-action">
                    <a href="https://beardedbeauty.github.io/index.html">old portfolio</a>
                </div>
            </div>
        </div>
    </div>
</div>
