<div class="parallax-container p1">
    <div class="row">
        <span class="center-align blocc z-depth-2 fadeonload">
            <h3>travelogue</h3>
        </span>
    </div>
    <div class="parallax">
        <img class="homebg" src="assets/img/montana1.JPG" />
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <h5>new zealand</h5>
    </div>
    <div class="row">
        <img class="cardimg" src="">
        <p class="col s10 offset-s2 m6 l7">
            Lorem ipsum dolor amet viral man bun kale chips heirloom irony fanny pack crucifix PBR&B whatever.
            Copper
            mug cliche occupy squid humblebrag offal lyft umami selvage gastropub synth mustache listicle.
            Williamsburg
            pug kogi squid, celiac bushwick synth yuccie DIY raw denim aesthetic sartorial normcore tilde
            scenester.
            Brooklyn biodiesel ramps deep v occupy. Food truck coloring book stumptown, raclette sriracha
            flannel
            vaporware man braid jianbing VHS PBR&B brunch typewriter lo-fi.
        </p>
        <div class="col"></div>
    </div>
</div>